/problem_3/nbproject/private/
/problem_3/build/
/problem_4/nbproject/private/
/problem_5/nbproject/private/
/problem_5/build/
/problem_4/build/
/problem_6/nbproject/private/
/problem_6/build/
/problem_7/nbproject/private/
/problem_7/build/
/problem_8/nbproject/private/
/problem_8/build/
/problem_9/nbproject/private/
/problem_9/build/
/problem_10/nbproject/private/
/problem_10/build/
/problem_11/nbproject/private/
/problem_11/build/
/problem_12/nbproject/private/
/problem_12/build/
/problem_13/nbproject/private/
/problem_13/build/
/problem_14/nbproject/private/
/problem_14/build/
/problem_14/dist/
/problem_15/nbproject/private/
/problem_15/build/
/problem_16/nbproject/private/
/problem_16/build/
/problem_17/nbproject/private/
/problem_17/build/
/شحممغهىل حقختثؤف/nbproject/private/
/aplluing project/nbproject/private/
/aplluing project/build/
/apllying/nbproject/private/
/apllying/build/
/problem_20/nbproject/private/
/problem_20/build/
/Problem_F/nbproject/private/
/Problem_F/build/
